tp/xml_xsd/1_produit_et_client/produit_sans_ns_initial.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
<xsd:element name="produit" type="Produit"/>
<xsd:element name="produitEnQte" type="ProduitEnQte"/>

    
<!-- Produit -->    
<xsd:complexType name="Produit">
		<!--
		   PARTIE A COMPLETER EN TP
		-->
</xsd:complexType>

<!-- produit commande(avec quantite) heritant de produit -->
<xsd:complexType name="ProduitEnQte">
   <xsd:complexContent>
     <xsd:extension base="Produit">
		     <xsd:sequence>
			      <xsd:element name="quantite" type="xsd:int"/>
		     </xsd:sequence>
		 </xsd:extension>
	</xsd:complexContent>
</xsd:complexType>	

	
</xsd:schema>
