exemples/xml_xsd/ex_biblio/livre.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="http://www.example.org/livre" 
        xmlns:tns="http://www.example.org/livre" 
        elementFormDefault="qualified"
		attributeFormDefault="unqualified">
		
<xsd:element name="titre" type="xsd:string"/>

<xsd:element name="livre" type="tns:Livre"/>
    
<xsd:complexType name="Livre">
		<xsd:sequence>
			<xsd:element ref="tns:titre"/>
			<xsd:element name="auteur" type="xsd:string"/>
			<xsd:element name="editeur" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute name="prix" type="xsd:decimal"/>
		<xsd:attribute name="parution" type="xsd:date"/>
</xsd:complexType>				
	
</xsd:schema>
